QTextEdit {
	background-color: black;
}

/* QWidget {
	background-color: #535353;
	color: white;
} */

QTableView {
	background-color: #242424;
}

QGroupBox {
	border: 1px solid gray;
	margin-top: 8px;
	padding: 6px;
}

QGroupBox::title {
	top: -8px;
	left: 10px;
}

QLabel#ErrorText {
	color: red;
}
