QTextEdit {
	background-color: black;
}

QGroupBox {
	border: 1px solid gray;
	margin-top: 8px;
	padding: 6px;
}

QGroupBox::title {
	top: -8px;
	left: 10px;
}

QLabel#ErrorText {
	color: red;
}

/* QCheckBox {
	spacing: 0px;
}

QCheckBox::indicator {
	width: 13px;
	height: 13px;
}

QCheckBox::indicator:unchecked {
	image:url('../assets/warlord.png');
} */
